hr {
width: 50%;
}
h1 {text-align:center;}
p  {text-align:center;}
.page {text-align:center;}

span.as {
color:#FF4000;
}


span.as2{
color:#FF8000;
}

span.asp{
color:#FFBF00;
}

span.basc{
color:#FFBF00;
}

span.c{
color:#FFFF00;
}

span.cc{
color:#BFFF00;
}

span.cl{
color:#80FF00;
}

span.cob{
color:#40FF00;
}

span.cold{
color:#00FF00;
}

span.er{
color:#00FF80;
}

span.for{
color:#00FFBF;
}

span.groo{
color:#00FFFF;
}

span.hask{
color:#FF00FF;
}

span.jav{
color:#0080FF;
}

span.javs{
color:#0040FF;
}

span.lis{
color:#0000FF;
}

span.per{
color:#4000FF;
}

span.php{
color:#8000FF;
}


span.pyt{
color:#BF00FF;
}

span.rub{
color:#FF00FF;
}

span.scal{
color:#FF00BF;
}

span.sch{
color:#FF0040;
}

