hr {
width: 50%;
}
h1 {text-align:center;}
p  {text-align:center;}
.page {text-align:center;}

span.as {
color:#FF4000;
}


span.as2{
color:#FF4000;
}

span.asp{
color:#FF4000;
}

span.basc{
color:#FFBF00;
}

span.c{
color:#FFBF00;
}

span.cc{
color:#FFBF00;
}

span.cl{
color:#80FF00;
}

span.cob{
color:#80FF00;
}

span.cold{
color:#80FF00;
}

span.er{
color:#00FF80;
}

span.for{
color:#00FF80;
}

span.groo{
color:#00FF80;
}

span.hask{
color:00BFFF;
}

span.jav{
color:00BFFF;
}

span.javs{
color:00BFFF;
}

span.lis{
color:#0000FF;
}

span.per{
color:#0000FF;
}

span.php{
color:#0000FF;
}

span.pyt{
color:#BF00FF;
}

span.rub{
color:#BF00FF;
}

span.scal{
color:#BF00FF;
}

span.sch{
color:#BF00FF;
}
